.header-container {
    background-color: white;
}
.left {
    justify-content: flex-start;
}
.navbar-right {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.menu-positioning{
    width: 100% !important;
}

/* MAIN MENU */
.bg-light {
    background-color: white !important;
}
.navbar {
    padding: 0rem 0rem !important;
}
.navbar-brand {
    margin-left: 2%;
    padding: .8rem .1rem;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.9);
    border-style: none;
}
.navbar-nav {
    margin-right: 5%;
}
.nav-item, .active-nav-item {
    font-family: 'Minion Pro';
    font-style:italic;
    text-transform: uppercase;
    font-size: 15pt;
    color: #011627;
    padding-left: 20px;
}
.nav-link {
    padding-bottom: 0px;
}
.navbar-nav>li>a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 4px;
}
.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #555555;
    border-bottom-width: 4px;
}
.active>a, .active-nav-item>a {
    text-decoration: none !important;
    border-bottom-style: solid !important;
    border-bottom-color: #555555 !important;
    border-bottom-width: 4px !important;
}

/* SUBMENU */
.navbar-dark {
    padding: 0 10%!important;
}
.bg-dark {
    background-color: #FC4786;
    background-image: linear-gradient(to right, #FC4786 , #FC803E);
}
.sub-nav-link {
    border-bottom-style: none !important;
    font-family: 'Minion Pro';
    font-style:italic;
    text-transform: uppercase;
    font-size: 15pt;
    color: white !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sub-navbar>li>a:focus, .sub-navbar>li>a:hover {
    background-color: rgba(0,0,0,.1);
}
.active-sub-nav-link {
    border-bottom-style: none !important;
    font-family: 'Minion Pro';
    font-style:italic;
    text-transform: uppercase;
    font-size: 15pt;
    color: white !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,.1);
    display: block;
}

/*
.menu-positioning>nav>div>ul>#nav-projects.nav-item .menu-positioning>#projects-sub-nav {
    display: none;
}
*/


/* HEADER */
.header-navbar {
    margin-right: 5%;
    padding: .3rem .5rem 0rem .5rem !important;
}
.navbar-header {
    padding: 0rem .5rem !important;
}
.btn-login {
    height: 40px;
    border-radius: 30px;
    margin: 0px 30px;
    padding: 2px 45px;
    color: white;
    background-color: #011627;
    font-size: 14px;
    border-style: none;
}
.sm-link>a>img {
    height: 20px;
    padding-left: 20px;
}



:root {
    --life-pink: #ff4385;
    --life-orange: #ff8033;
    --life-pink-orange-right: linear-gradient(to right, var(--life-pink) 0%, var(--life-orange) 100%);
    --life-pink-orange-bottom: linear-gradient(to bottom, var(--life-pink) 0%, var(--life-orange) 100%);
}

.comment {
    color: lightgray;
    font-size: 10pt;
}

.life-pink-background {
    background: var(--life-pink-orange-bottom);
}

.offset-to-show-pink {
    margin-left: 4vw;
    background: white;
}

@font-face {
    font-family: 'Minion Pro';
    font-stretch: condensed;
    font-style: italic;
    src: url('../fonts/MinionPro\ CnItDisp.otf')
}

@font-face {
    font-family: 'Minion Pro';
    font-style: italic;
    src: url('../fonts/MinionPro\ It.otf')
}

.unseen {
  display: none !important;
}

.glyphicon-triangle-right {
  margin-right: 0 !important;
}

h1, .h1 {
    font-size: 72pt;
}
h2, .h2 {
    font-size: 48pt;
}
h3, .h3 {
    font-size: 28pt;
}
h4, .h4 {
    font-size: 24pt;
}

.mpci-uppercase {
    font-family: 'Minion Pro';
    font-style: italic;
    font-stretch: condensed;
    text-transform: uppercase;
}
.control-label {
    font-family: 'Minion Pro';
    font-style: italic;
}

.navbar-content {
    font-family: 'Minion Pro';
    font-style: italic;
    font-size: 16pt;
    text-transform: uppercase;
}

p {
    font-family: 'Arial';
    font-size: 16pt;
}
input {
    font-family: 'Arial';
    font-size: 14pt;
}

.small-button {
    font-family: 'Arial';
    font-size: 14pt;
}
.big-button {
    font-family: 'Arial';
    font-size: 18pt;
}
.filter-sort {
    font-family: 'Arial';
    font-size: 14pt;
}

button.active {
    background-image: var(--life-pink-orange-right);
    color: white;
    border: none;
}

.language-select {
    border: 1px solid black;
    color: black;
    background-color: white; 
    width: 10vw;
    height: 6vh;
}

/*
To fix issues with previous css
*/
body {
  background-color: white;
}

.jumbotron {
  margin-bottom: 0;
}


@font-face {
  font-family: 'Minion Pro';
  font-stretch: condensed;
  font-style: italic;
  src: url('../Fonts/MinionPro\ CnItDisp.otf') format("opentype");
}

@font-face {
  font-family: 'Minion Pro';
  font-style: italic;
  src: url('../Fonts/MinionPro\ It.otf') format("opentype");
}

.container-fluid {
  background-color: white;
}

.taust {
  margin: 30px;
  background-color: #FC4786; 
  background-image: linear-gradient(to bottom, #FC4786 , #FC803E);
  z-index: 100;
}
.sisu::before {
  width: 50px;
  z-index: 0;
}
h1 {
  font-family:'MinionPro-CnItDisp', 'Minion Pro Cond Italic Display', 'Minion Pro';
  font-style:italic;
  font-stretch: condensed;
  text-transform: uppercase;
  font-size: 72pt;
  padding: 20px 0 20px 0;
}

h2 .h2{
  font-family:'MinionPro-CnItDisp', 'Minion Pro Cond Italic Display', 'Minion Pro';
  font-weight:400;
  font-style:italic;
  font-size: 28pt;
}

h3, .h3 {
  font-family: 'Minion Pro';
  font-weight:400;
  font-style:italic;
  font-size: 24pt;
}

h4 {
  font-family:'ArialMT', 'Arial';
  margin: 10px;
}
label .tooltiptext {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height: 1.25em;
  visibility: hidden;
  max-width: 320px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 10px 15px 10px 15px;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 10%;
  margin-left: -60px;
}

label:hover .tooltiptext {
  visibility: visible;
}

p {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color: black;
  text-align:left;
  line-height:25px;
}

textarea {
  width: 100%;
  min-width: 310px;
  height: 120px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 1px solid gray;
}

input[type='checkbox']:checked+button {
  border: none;
  color: white;
  background-color: #FC4786; 
  background-image: linear-gradient(to right, #FC4786 , #FC803E);
}

input[type='radio']:checked+button {
  border: none;
  color: white;
  background-color: #FC4786; 
  background-image: linear-gradient(to right, #FC4786 , #FC803E);
}

input:focus+.tool-tip, textarea:focus+.tool-tip {
  visibility: visible;
}

input+.tool-tip, textarea+.tool-tip {
  visibility: hidden;
}

.date {
  height: 40px;
  min-width: 180px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.date-tools{
  float: right;
}
.show-info-p {
  max-width: 50%;
  min-width: 600px;
}

.p-light {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
  line-height:25px;
}

.gradient {
  background-color: #FC4786; 
  background-image: linear-gradient(to right, #FC4786 , #FC803E);
}


.form-row {
  padding: 20px 0px 20px 0px;
}

.input-field {
  height: 40px;
  min-width: 310px;
  width: 100%;
  padding: 10px;
}

.input-file {
  height: 40px;
  min-width: 310px;
  width: 100%;
  padding: 10px;
  border-color: rgb(238, 238, 238);
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
}

.input-element {
  padding: 15px 0px 15px 0px;
  min-width: 310px;
  max-width: 500px;
  width: 85%;
}

.tool-tip {
  float: left;
  color: #3300CC;
}

.validation-error{
  float: right;
  color: #FC803E;
}

.red-light{
  width: 16px;
  height: 16px;
  background: #FC803E;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  margin-left: -40px;
  top: 40px;
}
.btn-comment {
  float: right;
  padding: 30px 0; 
}

.btn-check {
  height: 40px;
  margin: 5px 0 5px 0;
  padding: 0 20px 0 20px;
  background: white;
  border-color: #7F7F7F;
  border: 1px #7F7F7F;
  border-style: solid;
  font-size: 16px;
}

.btn-check:hover {
  border-style: solid;
  color: #FC4786;
  border-color: #FC4786;
}

.submit-form {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  margin: 30px 0 30px 0;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #FC4786; 
  background-image: linear-gradient(to right, #FC4786 , #FC803E);
}

.submit-form:hover {
  background-color: #FC4786; 
  background-image: linear-gradient(to right, #FC803E, #FC4786 );
}

.btn-helper-center{
  margin: auto;
  width: 40%;
}

.comment {
  margin-top: 20px;
  padding: 10px;
  background: #FFEBE1;
}

.full-col {
  width: 100%;
}

.xtr-padding-btm {
  padding-bottom: 40px;
}

.left{
  float: left;
}

.right {
  float: right;
}

.clear-left {
  clear: left;
}

.tag {
  height: 26px;
  background: #D4D4D4;
  border-radius: 4px;
  margin: 5px;
  padding: 2px 12px 0 12px;
}

/* EU FUND LOGO */

#eu_fund_logo{
  float: right;
  max-width: 150px;
  margin-top: 10px;
}

#eu_fund_logo_container{
  float: right;
  margin-bottom: 15px;
  padding-right: 0px;
}


.icons {
    width: 20px;
    cursor: pointer;
}

.smaller-icons {
    width: 15px;
    cursor: pointer;
}

.disabledForm {
    opacity: 0.1 !important;
    pointer-events: none !important;
}

html, body, .offset-to-show-pink {
    height: 100%;
}

.life-pink-background {
    height: 80%;
}

.nav-pills .nav-link.active {
    color: rgba(0,0,0,.7);
    background-color: white !important;
    text-decoration: none !important;
    border-bottom-style: solid !important;
    border-bottom-color: #555555 !important;
    border-bottom-width: 4px !important;

}

.nav-pills .nav-link {
    font-family: 'Minion Pro';
    font-style: italic;
    font-stretch: condensed;
    text-transform: uppercase;
    font-size: 20pt;
    color: rgba(0,0,0,.5);
    border-radius: 0;
}

.center-content {
    margin-left: auto;
    margin-right: auto;
}

a {
    font-family: 'Minion Pro';
    font-style: italic;
    font-stretch: condensed;
    color: rgba(0,0,0,.5);
}

a:hover {
    color: rgba(0,0,0,.7);
}