@import "../bower/bootstrap/less/bootstrap";
@import (less) "bootstrap-datetimepicker.css";
@import (less) "bootstrap-tagsinput.css";
@import (less) "../bower/select2/dist/css/select2.css";
@import (less) "../bower/fancybox/dist/jquery.fancybox.css";
@import "bootstrap-social.less";

@brand-success: rgb(165, 220, 134);

td.table-text.red{
  color: @brand-danger;
}

td.table-text.green{
  color: @brand-success;
}

.jumbotron p{
  font-weight: 300;
}

//h1, h2, h3:not(.tag-label), .navbar-nav.menu {
//  font-style: italic;
//  font-family: "Times New Roman", Times, serif;
//  text-transform: uppercase;
//  letter-spacing: -.1em;
//}

p.red{
  color: @brand-danger;
}

.bootstrap-tagsinput{
  background-color: transparent;
  line-height: inherit;
  box-shadow: none;
}

.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}

#project-view .label{
  line-height: 40px;
}

.new-project label p{
  font-size: 10px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 60px; /* bottom = footer height */
}

.footer {

  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;

  position: absolute;
  left: 0;
  bottom: 0;
}


.bs-callout {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.login .btn-group{
  margin-bottom: 10px;
}


.bs-callout-info {
  border-left-color: @brand-danger;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout-info h4 {
  color: @brand-danger;
}

.latest-projects-list-button{
  height:55px;
}

.pages-edit textarea {
  height: 300px;
}

.panel-default > .panel-heading {
  color: @brand-danger;
}

.search{
  margin-bottom: 60px;
}

h3 .label-primary{
  display: inline-block;
}

#about-elu a{
  cursor:pointer;
}

ul.tags li{
  margin-bottom: 5px;
}

ul.tags.keywords li{
  display: inline-block;
}

table span.label{
  margin-bottom: 3px;
}

.form-group.search{
  margin-bottom: 0px;
}


.form-group .bootstrap-tagsinput .tag{
  margin-top: 4px;
  display: inline-block;
}

.clickable{
  cursor: pointer;
}

.email-list .panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

.panel.email-list {
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mailto-list{
  font-size: 80%;
}

.what-table-accent{
  color: #ff4385;
  font-weight: bold;

}

.what-table th{
  text-align: center;
}

.what-table-content{
  font-size: 80%;
}

.what-table-sub-accent{
  color: #ff4385;
}

a{
  text-decoration: none !important;
}

a:hover{
  text-decoration: none !important;
}

.btn.btn-social{
  text-transform: initial;
  font-size: initial;
  padding: 6px 12px 6px 44px;
  border-radius: 4px;
}
.btn.btn-social:hover, .btn.btn-social:focus{

  color: #ffffff;
}

.btn.btn-social.btn-social-icon{
  padding: 0px;
}

.title-link{
  font-size: 60%;
}

.mailto-list input{
  width:100%;
  height:100%;
}

.embed-responsive{
  margin-bottom: 11px;
}


//Circles in analytics views

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}
.circle-tile-heading {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}
.circle-tile-heading .fa {
  line-height: 80px;
}
.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 15px;
}
.circle-tile-description {
  text-transform: uppercase;
}
.circle-tile-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px;
  transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.circle-tile-heading.green:hover {
  background-color: #138F77;
}
.circle-tile-heading.orange:hover {
  background-color: #DA8C10;
}
.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}
.statistics .green {
  background-color: #16A085;
}
.statistics .orange {
  background-color: #F39C12;
}
.statistics .text-green {
  color: #16A085;
}
.statistics .text-orange {
  color: #F39C12;
}
.statistics .text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.featured-image-preview{
  width: 200px;
  height:auto;
}

span.select2-container--default .select2-selection--multiple {
  border: 1px solid #ccc;
  background-color: transparent;
}

.project-groups ul{
  min-height: 100px;
}

.drag-handle {
  margin-right: 10px;
  font: bold 20px Sans-Serif;
  color: #5F9EDF;
  display: inline-block;
  cursor: move;
  cursor: -webkit-grabbing;
}

.tab-pane.project-groups{
  margin-top: 10px;
}

.panel.project-groups-panel{
  border: none;
}

.see-results{
  font-size: 40%;
}



.login_box{
  background: #ff8033; /* Old browsers */
  background: linear-gradient(to right, #ff4385 0%, #ff8033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4385', endColorstr='#ff8033',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


  padding-top: 20px;

  top:15%;


  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
  box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
}

@media (max-width: 767px) {
  .login_box{
    background: #ff8033; /* Old browsers */
    background: linear-gradient(to right, #ff4385 0%, #ff8033 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4385', endColorstr='#ff8033',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


    height:80%;

    top:10%;


    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
  }
}

.image-circle{
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 4px solid #FFF;
  margin: 10px;
}

.profile-project{
  background-color: rgba(0, 11, 43, 0.54);
  height: 80px;
  display: table;
  table-layout: fixed;
}
.profile-project h3{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.profile-project:hover {
  background-color: rgba(0, 11, 43, 0.36);
  height: 80px;
}

.login_control{
  background-color:#FFF;
  padding:10px;
  padding-top:30px;


}

.control {
  color:#000;
  margin:10px;
}

.label {
  color: #EB4F26;
  font-size: 18px;
  font-weight: 500;
}



.line{
  border-bottom : 2px solid #ff8033;
}



@media (max-width: @screen-md-min) {

  .nomargin.search-input{
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}